<!DOCTYPE html>

{%extends 'reporting/base.html' %}


{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 mb-5">

          <form action="" method="get">
                {{filters.form}}


                <button type="submit">Search</button>
           </form>

        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9 mt-5">
           <table class="table">
               <h1>My Timesheets</h1>
               <tr>
                   <td>User</td>
                   <td>Batch_Name</td>
                    <td>Topic</td>
                   <td>Topic_Status</td>
                   <td>Date</td>
                   <td>verification</td>
                   <td>Action</td>
               </tr>
               {%for timesheet in timesheets%}
               <tr>
                   <td>{{timesheet.user}}</td>
                   <td>{{timesheet.batch}}</td>
                 <td>{{timesheet.topic}}</td>
                   <td>{{timesheet.topic_status}}</td>
                          <td>{{timesheet.date}}</td>
                   <td>{{timesheet.verified}}</td>


                   <td>
<!--                        {%if timesheet.verified.True%}-->

<!--                       {%endif%}-->
                             {%if request.user.is_admin%}
                       {%if not timesheet.verified%}

                       <a href="{%url 'timesheetverification' timesheet.id%}" class="btn btn-outline-primary border rounded-pill">verify</a>

                     {%endif%}
                   {% else%}
                    <a href="{%url 'changeusertimesheet' timesheet.id%}" class="btn btn-outline-primary border rounded-pill">Edit</a></td>
               {%endif%}
               </tr>
               {%endfor%}
           </table>

        </div>
        <div class="col-1"></div>
    </div>
</div>
{%endblock%}